<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minidoka</title>
</head>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
    <div class="container text-center mt-5" style="width: 300px; border: 1px solid deepskyblue">
        <br>
        <img src="http://www.minidokapilgrimage.org/Minidoka08-LOGO.jpg"
             alt="Minidoka Logo"
             style="width: 250px; height: 200px"
        >
        <form action="" method="POST">
            <label for="username">Username</label>
            <input id="username" type="text">
            <br>
            <label for="password">Password</label>
            <input id="password" type="password">
            <br>
            <br>
            <button type="submit">Log In</button>
        </form>
        <br>
    </div>
</body>
</html>