<include href="view/header.html"/>
<form method="POST" action="#">
    <div id="first">
        <label for="fname">First Name:
            <input type="text" name="fname" id="fname" value="{{ @fname }}">
        </label>
        <check if="{{ @errors['fname'] }}">
            <span class="error">{{ @errors['fname'] }}</span>
        </check>
    </div>
    <div id="last">
        <label for="lname">Last Name:
            <input type="text" name="lname" id="lname" value="{{ @lname}}">
        </label>
        <check if="{{@errors['lname']}}">
            <span class="errors">{{@errors['lname']}}</span>
        </check>
    </div>
    <div id="mail">
        <label for="email">Email:
            <input type="email" name="email" id="email" value="{{ @email }}">
        </label>
        <check if="{{@errors['email']}}">
            <span class="errors">{{@errors['email']}}</span>
        </check>
    </div>
    <div id="phone-number">
        <label for="phone">Phone:
            <input type="text" name="phone" id="phone" value="{{ @phone }}">
        </label>
        <check if="{{@errors['phone']}}">
            <span class="errors">{{@errors['phone']}}</span>
        </check>
    </div>
    <div id="emergency">
        <label for="ephone">Emergency Contact Number:
            <input type="text" name="ephone" id="ephone" value="{{ @ephone }}">
        </label>
        <check if="{{@errors['ephone']}}">
            <span class="errors">{{@errors['ephone']}}</span>
        </check>
    </div>
    <div id="DOB">
        <label for="age">Date of Birth:
            <input type="date" name="age" id="age" value="{{ @age }}">
        </label>
        <check if="{{@errors['age']}}">
            <span class="errors">{{@errors['age']}}</span>
        </check>
    </div>
    <div id="survive">
        <label>Is the guest a survivor?</label>
            <input type="radio" name="survivor[]" id="survivor-yes" value="{{ @survivor }}">Yes
            <input type="radio" name="survivor[]" id="survivor-no" value="{{ @survivor }}">No
    </div>
    <div id="attendance">
        <label>Has the guest previously attended?</label>
        <input type="radio" id="prevattend-yes" name="prevattend" value="{{ @prevattend }}">Yes
        <input type="radio" id="prevattend-no" name="prevattend" value="{{ @prevattend }}">No
    </div>
    <div id="reservation">
        <label for="resCheck">Check if the guest has a reservation:</label>
            <input id="resCheck" name="resCheck" type="checkbox" value="{{ @resCheck }} ">
            <div id="res" hidden>
                <label for="hotel">Enter the Hotel Reservation Number</label>
                <input type="text" id="hotel">
            </div>

    </div>
    <div id="submission">
        <label for="submit">
            <input type="submit" id="submit">
        </label>
    </div>

    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Participant Added!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Participant successfully added to the database!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="model/javascript/participant-form.js"></script>
</body>
</html>