<include href="view/header.html"/>
<div class="jumbotron">
    <form action= "#" method ="POST" class="form-horizontal">
       <div class = "form-group">
           <div class="form-group row">
               <div>
                   <check if="{{ @errors['fname'] }}">
                    <span class="error">{{ @errors['fname'] }}</span>
                   </check>
               </div>
               <label for="fname" class="col-sm-3 col-form-label-lg">First Name:</label>
               <div class="col-sm-6">
                   <input type="text" class="form-control" id="fname" name="fname" value="{{ @fname }}">
               </div>
           </div>
           <div class="form-group row">
               <div>
                   <check if="{{ @errors['lname'] }}">
                       <span class="error">{{ @errors['lname'] }}</span>
                   </check>
               </div>
               <label for = "lname" class="col-sm-3 col-form-label-lg">Last Name:</label>
               <div class="col-sm-6">
                   <input type="text" class="form-control" id="lname" name="lname" value="{{ @lname }}">
               </div>
           </div>
           <div class="form-group row">
               <div>
                   <check if="{{ @errors['email'] }}">
                       <span class="error">{{ @errors['email'] }}</span>
                   </check>
               </div>
               <label for = "email" class="col-sm-3 col-form-label-lg">Email:</label>
               <div class="col-sm-6">
                    <input id="email" name="email" class="form-control" value="{{ @email }}">
               </div>

           </div>

           <div class="form-group row">
               <div>
                   <check if="{{ @errors['phone'] }}">
                       <span class="error">{{ @errors['phone'] }}</span>
                   </check>
               </div>
               <label for = "phone" class="col-sm-3 col-form-label-lg">Phone:</label>
               <div class="col-sm-6">
               <input id="phone" name="phone" class="form-control" value="{{ @phone }}">
               </div>
           </div>



           <div class="form-group row">
               <label for = "editusers" class="col-sm-3 col-form-label-lg">
                   Edit Users:
                   <input type="checkbox" class="form-check-label" id="editusers" name="editusers" value="{{ @editusers }}">
               </label>
               <label for = "editreg" class="col-sm-3 col-form-label-lg">
                   Edit Registrations:
                   <input type="checkbox" class="form-check-label" id="editreg" name="editreg" value="{{ @editreg }}">
               </label>
               <label for = "editbudget" class="col-sm-3 col-form-label-lg">
                   Edit Budget:
                   <input type="checkbox" class="form-check-label" id="editbudget" name="editbudget" value="{{ @editbudget }}">
               </label>
           </div>

<!--           <div class="form-check">-->
<!--               <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">-->
<!--               <label class="form-check-label" for="defaultCheck1">-->
<!--                   Default checkbox-->
<!--               </label>-->
<!--           </div>-->

           <div class="form-group row">
               <check if="{{ @errors['username'] }}">
                   <span class="error">{{ @errors['username'] }}</span>
               </check>
               <label for = "username" class="col-sm-3 col-form-label-lg">Username:</label>
                   <div class="col-sm-6">
                   <input id="username" name="username" class="form-control" value="{{ @username }}">
                   </div>
           </div>
           <div class="form-group row">
               <check if="{{ @errors['password'] }}">
                   <span class="error">{{ @errors['password'] }}</span>
               </check>
               <label for = "password" class="col-sm-3 col-form-label-lg">Password:</label>
                   <div class="col-sm-6">
                   <input id="password" name="password" class="form-control" value="{{ @password }}">
                   </div>

           </div>
           <div id="submission">
               <label for="submit">
                   <input type="submit" id="submit">
               </label>
           </div>
       </div>
    </form>
</div>
</body>
</html>