<include href='view/header.html'/>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.jqueryui.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">

<div class="ml-5 mr-5">
    <br>
    <h3 class="float-left">Volunteers</h3>
    <a class="float-right" href="{{'add-volunteer'}}"><button class="btn-warning">Add Volunteer</button></a>
</div>

<div class="text-left ml-5 mr-5">
    <table id="volunteers" class="display nowrap" style="width:100%">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone #</th>
            <th>Email</th>
            <check if="@SESSION.admin == 1">
                <true>
                    <th>Username</th>
                    <th>Admin</th>
                    <th>Delete User</th>
                </true>
                <false>
                    <th>Admin</th>
                </false>
            </check>
        </tr>
        </thead>
        <tbody>
        <repeat group="{{@volunteers}}" value="{{@row}}">
            <tr>
                <td>{{@row.fname}}</td>
                <td>{{@row.lname}}</td>
                <!--phone#-->
                <td>({{substr(@row.phone, 0, 3)}})-{{substr(@row.phone, 3, 3)}}-{{substr(@row.phone, 6)}}</td>

                <!--email-->
                <td><a href="mailto:{{@row.email}}">{{@row.email}}</a></td>

                <td>{{@row.username}}</td>

                <check if="{{@row.admin == 1}}">
                    <true>
                        <td class="greenCheck">&check;</td>
                    </true>
                    <false>
                        <td class="redX">x</td>
                    </false>
                </check>
                <td>
                    <form method="post" action="">
                        <button class="btn btn-warning center" name="uuid" type="submit" value="{{@row.UUID}}"
                                onclick="return confirm('Are you sure you want to remove this User?')">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
        </repeat>
        </tbody>
    </table>
    <a class="mt-2 float-right" href="{{'add-volunteer'}}"><button class="btn-warning">Add Volunteer</button></a>
</div>
<include href='view/footer.html'/>
