<include href='view/header.html'/>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.jqueryui.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
<div class="ml-5">
    <br>
    <h3>Volunteers</h3>
</div>
<div class="text-left ml-5 mr-5">
    <table id="volunteers" class="display nowrap" style="width:100%">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone #</th>
            <th>Email</th>
            <th>Admin</th>
            <check if="@SESSION.admin == 1">
                <th>Username</th>
                <th>Delete User</th>
            </check>

        </tr>
        </thead>
        <tbody>
        <repeat group="{{@volunteers}}" value="{{@row}}">
            <tr>
                <td>{{@row.fname}}</td>
                <td>{{@row.lname}}</td>
                <!--phone#-->
                <check if="{{@row.phone == null}}">
                    <true>
                        <td>none</td>
                    </true>
                    <false>
                        <td>({{substr(@row.phone, 0, 3)}})-{{substr(@row.phone, 3, 3)}}-{{substr(@row.phone, 6)}}</td>
                    </false>
                </check>
                <!--email-->
                <check if="{{@row.email == null}}">
                    <true>
                        <td>none</td>
                    </true>
                    <false>

                        <td><a href="mailto:{{@row.email}}">{{@row.email}}</a></td>
                    </false>
                </check>
                <check if="{{@row.admin == true}}">
                    <true>
                        <td class="greenCheck">&check;</td>
                    </true>
                    <false>
                        <td class="redX">x</td>
                    </false>
                </check>
                <check if="@SESSION.admin == 1">
                    <td>{{@row.username}}</td>
                    <!--can they add and remove users?-->

    <!--                &lt;!&ndash;can they add and remove registrants?&ndash;&gt;-->
    <!--                <check if="{{@row.editreg == true}}">-->
    <!--                    <true>-->
    <!--                        <td>&check;</td>-->
    <!--                    </true>-->
    <!--                    <false>-->
    <!--                        <td>&#88;</td>-->
    <!--                    </false>-->
    <!--                </check>-->

    <!--                &lt;!&ndash;can they add and remove budget files?&ndash;&gt;-->
    <!--                <check if="{{@row.editbudget == true}}">-->
    <!--                    <true>-->
    <!--                        <td>&check;</td>-->
    <!--                    </true>-->
    <!--                    <false>-->
    <!--                        <td>&#88;</td>-->
    <!--                    </false>-->
    <!--                </check>-->
                    <!--Delete Field-->
                    <td>
                        <form method="post" action="">
                            <button class="btn btn-warning" name="uuid" type="submit" value="{{@row.UUID}}">Remove</button>
                        </form>
                    </td>
                </check>
            </tr>
        </repeat>
        </tbody>
    </table>
</div>
<footer>
    <!--    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>-->
    <!--    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.10.20/js/dataTables.jqueryui.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.jqueryui.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.jqueryui.min.js"></script>
    <script src="model/javascript/volunteers.js"></script>
<!--    <script type="text/javascript" charset="utf-8" src="model/javascript/participant-table.js"></script>-->
</footer>
</body>
</html>